<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /my_mvc/public
  # Redirect to index.php if file or directory is not found
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
  # Custom 404 page
  ErrorDocument 404 /404.html
</IfModule>
